<button (click)="openAddOrderModal()" mat-raised-button>Добавить заказчика</button>

<div class="mat-elevation-z8 table-wrapper">
  <mat-table #table [dataSource]="customers">

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Started To Work Column -->
    <ng-container matColumnDef="dateStartedToWork">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Дата начала работы</mat-header-cell>
      <mat-cell *matCellDef="let customer" class="custom-cell">{{customer.dateStartedToWork.toDateString()}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Имя</mat-header-cell>
      <mat-cell *matCellDef="let customer"  class="custom-cell">{{customer.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell column-right">Действия</mat-header-cell>
      <mat-cell  *matCellDef="let customer" class="custom-cell column-right">
        <button mat-mini-fab color="warn" (click)="deleteCustomer(customer.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>
