<button (click)="openAddOrderModal()" mat-raised-button>Add Customer</button>

<div class="mat-elevation-z8 table-wrapper">
  <mat-table #table [dataSource]="customers">

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Started To Work Column -->
    <ng-container matColumnDef="dateStartedToWork">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Started To Work</mat-header-cell>
      <mat-cell *matCellDef="let customer" class="custom-cell">{{customer.getDateStartedToWork().toDateString()}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Name</mat-header-cell>
      <mat-cell *matCellDef="let customer"  class="custom-cell">{{customer.getName()}}</mat-cell>
    </ng-container>

  </mat-table>
</div>
