<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container toolbar">
      <div class="title">
        <span class="title-text" routerLink="/">Basturma App</span>
      </div>

      <div class="actions">
        <button mat-button routerLink="/orders">Orders</button>
        <button mat-button routerLink="/customers">Customers</button>
        <button mat-button>Logout</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container main-content-wrapper">
  <router-outlet></router-outlet>
</div>
